.table-users-roles {}

.table-users-roles button {
  width: 2.3rem;
  margin: 0.1rem;
}

.table-users-roles button:hover {
  cursor: pointer;
}

.table-users-roles button:disabled {
  background-color: rgb(150, 150, 150);
  color: rgb(53, 0, 0);
  /* pointer-events: none; */
  cursor: none;
}

.table-users-roles .hasRole {
  background-color: blueviolet;
  color: cornsilk;
}