.header-generic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--hh-3rem);
  background-color: bisque;
  height: 2rem;
}

.header-generic .hl,
.header-generic .hr {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header-generic .hr {
  justify-content:right;
}

.header-generic .hf {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.header-generic button.mah-btn {
  margin: 0.5rem;
}