

.media-thumbnails {
  display: flex;
  grid-template-rows: 1fr;
  padding: 0.1rem;
  align-items: center;
  background: #fff0df;
  overflow-x: scroll;
}

.media-thumbnails img {
  padding: 0.2rem;
  width: 4.8rem;
  height: auto;
}

.media-thumbnails .m-btn svg {
font-size: 4rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}