


.media-mobile-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 475px) {}